* {
  padding: 0;
  margin: 0;
  font-family: Menlo, monospace;
  background: #f8f8ff;
}

#base-converter {
  padding: 80px 0;
}

.arrow { 
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
}

.number-base {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 35px;
}

.number {
  display: inline-block;
}

.number label {
  display: block;
}

.number input {
  width: 300px;
  height: 40px;
  font-size: 30px;
  text-align: right;
}

.base {
  position: relative;
  left: 1px;
  bottom: -40px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  display: inline-block;
}

.base input {
  width: inherit;
  height: inherit;
  font-size: 20px;
  text-align: center;
}

.base label{
  display: block;
  text-align: right;
  font-size: 10px;
}


#visualizer {
  padding-top: 20px;
  display: block;
}

#visualizer-content {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.starting-value, .ending-value {
  font-size: 20px;
}

.ending-value {
  text-align: right;
}

/* I completely forgot CSS in this section*/

.equation {
  padding: 10px;
}

.equation sup {
  padding-bottom: 10px;
}

.expression {
  padding-right: 8px;
}

.answer {
  padding-top: 2px;
}

.remainder {
  padding-left: 20px;
}

.plus {
  padding-left: 84px;
}

.info {
  margin: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

.info i {
  color: blue;
  font-size: 25px;
  padding-bottom: 10px;
}

.info p {
  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
}


@media only screen and (max-width: 790px) { 
  .to {
    display: block;
    text-align: center;
  }  
}