body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clr {
  clear: both;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

.page-title, .page-subtitle {
  display: inline;
}

.page-subtitle {
  padding-left: 10px;
}

.header-title {
  display: inline-block;
  float: left;
}

.header-links {
  display: inline-block;
  font-size: 20px;
  padding-top: 10px;
  float: right;
}

.header-links a {
  text-decoration: none;
  color: blue;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
  border: black 1px solid;
}

.float-left {
  float: left;
}


@media only screen and (max-width: 1200px) { 
  .container{
    width: 95%;
  }
}

@media only screen and (max-width: 860px) { 
  .page-subtitle{
    display: block;
  }

  .header-links {
    display: block;
  }
}